body {
  background-color: lightblue;
}

h1 {
  margin-left: 0px;
}

.name {
  margin-bottom: 0; 
  background-color: #999;
 }
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

p {
  margin: 0px;
  padiin: 0px;
}

  nav {
    background-color: white;
    }

html, body {
    margin: 0;
    height: 100%;
  }
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #999;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table, th, td {
  border: 1px solid black;
}
